<div class="form-page-wrapper">
  <div class="form-background"></div>
  <div class="form-container">
    <%if(errors?.length){%>
    <div class="errors">
      <%errors.forEach(err=>{%>
      <span><%= err.msg%></span>
      <%})%>
    </div>
    <%}%> <%console.log(meal)%>
    <form
      class="form"
      action="/menu/form/validate"
      method="post"
      data-mealId="<%=meal?.id%>"
      onsubmit="RequestManager.onFormSubmit(event)"
    >
      <div class="row-1">
        <div class="image__container">
          <div class="drop-area" alt="">
            <img
              id="image"
              src="/<%=meal?.imgSrc%>"
              onerror="DropArea.hideImg(this)"
            />
            <span class="drop-text">Click Me</span>
            <input
              type="file"
              id="mealImage"
              name="image"
              onchange="DropArea.handleFileSelect(event, {imageSelector: '#image', dropTextSelector: '.drop-text'})"
            />
          </div>
        </div>
        <div class="fields__container">
          <div>
            <label for="mealTitle">Title:</label>
            <input
              placeholder="Title"
              type="text"
              class="field"
              id="mealTitle"
              name="title"
              value="<%=meal?.title%>"
            />
          </div>
          <div>
            <label for="mealDesc">Description:</label>
            <input
              placeholder="Description"
              type="text"
              class="field"
              id="mealDesc"
              name="description"
              value="<%=meal?.description%>"
            />
          </div>
          <div>
            <label for="mealPrice">Price:</label>

            <input
              placeholder="Price"
              type="text"
              class="field"
              id="mealPrice"
              name="price"
              value="<%=meal?.price%>"
            />
          </div>
        </div>
      </div>
      <div class="row-2">
        <div class="actions__container">
          <button class="btn" type="submit">
            <%= meal?.id ? 'Update' : 'Add'%>
          </button>

          <button
            class="btn"
            type="button"
            onclick="window.location.href = '/menu'"
          >
            Go Back
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
