<div class="menu-page-wrapper">
  <div class="menu-background"></div>
  <form action="/menu" class="search-section">
    <div class="category-selector">
      <%for (const category of categoryList){%>
      <button
        class="category-btn"
        type="submit"
        name="category"
        value="<%=category._id%>"
      >
        <%=category.title%>
      </button>
      <%}%>
    </div>
  </form>
  <form>
    <div class="searchbar">
      <input
        type="text"
        class="field"
        name="title"
        placeholder="Enter meal title"
      />
      <button type="submit" class="search-btn">Search</button>
    </div>
  </form>
  <div class="menu-container">
    <%for (const meal of mealList){%>
    <div class="card">
      <img
        class="card__image"
        src="/<%= meal.imgSrc ? meal.imgSrc : 'no_image.png' %>"
        alt=""
      />

      <span class="card__title"><%=meal.title%></span>
      <span class="card__price"><%=meal.price%>₴</span>

      <div class="card__actions">
        <a href="/menu/form/<%=meal.id%>">
          <button class="btn">Edit</button>
        </a>
        <button
          class="btn"
          onclick="RequestManager.deleteRequest('/menu', {id: '<%=meal.id%>'})"
        >
          Delete
        </button>
      </div>
    </div>
    <%}%>
  </div>
</div>
