<div class="spec-meal-page-wrapper">
  <div class="background"></div>
  <div class="main-container">
    <div class="meal-info">
      <img
        src="<%= meal.image ? meal.image : '/no_image.png'%>"
        alt="Meal Image"
        class="meal-image"
      />
      <div>
        <div class="main-info">
          <p class="meal-title">
            <span>Title:</span>
            <br />
            <span><%=meal.title%></span>
          </p>
          <p class="meal-price">
            <span>Price:</span>
            <br />
            <span><%=meal.price%>₴</span>
          </p>
          <p class="meal-category">
            <span>Category:</span>
            <br />
            <span><%=meal.category.title%></span>
          </p>
        </div>
        <p class="meal-description"><%=meal.description%></p>
      </div>
    </div>
    <form
      action="/menu/<%=meal.id%>/reviews/add"
      method="post"
      data-mealId="<%=meal.id%>"
      class="review-form"
    >
      <div>
        <label class="comment-card-title">
          Want to share your experience?
        </label>

        <div class="rating">
          <input
            type="radio"
            name="rate"
            value="5"
            class="rating-radio"
            id="star-5"
          />
          <label for="star-5">
            <i class="fa-solid fa-star"></i>
          </label>
          <input
            type="radio"
            name="rate"
            value="4"
            class="rating-radio"
            id="star-4"
          />
          <label for="star-4">
            <i class="fa-solid fa-star"></i>
          </label>
          <input
            type="radio"
            name="rate"
            value="3"
            class="rating-radio"
            id="star-3"
          />
          <label for="star-3">
            <i class="fa-solid fa-star"></i>
          </label>
          <input
            type="radio"
            name="rate"
            value="2"
            class="rating-radio"
            id="star-2"
          />
          <label for="star-2">
            <i class="fa-solid fa-star"></i>
          </label>
          <input
            type="radio"
            name="rate"
            value="1"
            class="rating-radio"
            id="star-1"
            checked
          />
          <label for="star-1">
            <i class="fa-solid fa-star"></i>
          </label>
        </div>
        <% const rateErr = errors.find(err=>err.path==='rate')%> <%
        if(rateErr){%>
        <div class="rate-error-container">* <%=rateErr.msg%></div>
        <%}%>
      </div>
      <div>
        <label for="comment">Comment:</label>
        <br />
        <textarea
          name="text"
          placeholder="Your comment"
          id="comment"
          class="field"
        >
<%=formData?.text%></textarea
        >
        <br />
        <% const commentErr = errors.find(err=>err.path==='text')%> <%
        if(commentErr){%>
        <div class="comment-error-container">* <%=commentErr.msg%></div>
        <%}%>
      </div>
      <button class="btn" type="submit">Comment</button>
    </form>
    <div class="reviews-container">
      <%for (const review of reviews){%>
      <div class="review">
        <span class="name"><%=review.user.fullName%></span>
        <br />
        <div class="rating">
          <% for (let i = 1; i<=5; i++){%>
          <span class="<%= i<=review.rate ? 'rate-yellow' : 'rate-white'%>">
            <i class="fa-solid fa-star"></i>
          </span>
          <%}%>
        </div>
        <p class="text"><%=review.text%></p>
        <%if(review.user.id===user?.id){%>
        <br />

        <button
          class="btn"
          onclick="RequestManager.deleteRequest('<%=meal.id%>/reviews', {id: '<%=review.id%>', userId: '<%=review.user.id%>'}, function(){window.location.reload()})"
        >
          Delete
        </button>
        <%}%>
      </div>
      <%}%>
    </div>
  </div>
</div>
